html {
  background: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3N2MjE3NjkwLWltYWdlLWt3dnVjNjNrLmpwZw.jpgs);
}

body {
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  text-align: left;
  height: 650px;
  width: 600px;
  border-radius: 25px;
  background: #e83b3b31;
  border-radius: 10px;
  background-color: rgba(192, 198, 199, 0.767);
}

img {
  text-align: center;
  width: 300px;
  height: 300px;
}

#btn {
  background-color: transparent;
}
